.item-list {
  width: 80%;
  margin: 0 auto;
}

.item-list ul {
  padding: 0;
}

.item-list li {
  list-style-type: none;
  margin-top: 5px;
  display: block;
  padding: 15px;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

.item-list li img {
  width:20px;
  float: left;
}

li.notClicked {
  background: #444;
}
li.done {
  background: #efefef;
  color: #aaa;
}

li {
  background: #ffffff;
}

.item-list li a:hover {
  background: #dedede;
  color: #111;
}
